
body{
  background-color: black;
}
h1{
  text-align: center;
  color: whitesmoke;
}
#gameBoard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

canvas{
  border: 1px solid black
}

#control{
  display: flex;
  justify-content: center;
}

button{
  padding: 5px;
  background-color: grey;
  color: antiquewhite;
  font-weight: 600;
  font-size: 22px;

}