
body{
  background-color: black;
}
h1{
  text-align: center;
  color: whitesmoke;
}
#gameBoard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

canvas{
  border: 1px solid black
}